<p>Hola <%= @user.first_name.titleize %>,</p>

<p>Puedes ingresar al link de abajo para elegir una nueva contraseña</p>

<p><%= link_to 'Reestablecer contraseña', edit_password_reset_url(@user.password_recovery_token) %></p>

<p>Cualquier duda que tengas, puedes reponder este correo y te contestaremos lo antes posible.</p>

<hr>

<strong>El Equipo The Coffee Kit</strong>