<div class="row">
  <div class="col-md-12">
  <%= render 'shared/flash_messages' %>
    <div class="page-header">
      <h2>Recupera tu contraseña</h2>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <%= bootstrap_form_for :password_reset, url: password_resets_path do |f| %>
      <%= f.email_field :email, required: true %>
      <%= f.submit 'Recuperar contraseña', class: 'btn btn-primary', data: { disable_with: 'Recuperar contraseña' } %>
    <% end %>
  </div>
</div>