<div class="row">
  <div id="chart-total-revenue" class="col-md-8">

  </div>
  <div class="col-md-4">
    <h2>Totales</h2>
    <table class="table">
      <tbody>
        <tr>
          <td>
            <h3><span class="label label-success"><%= number_to_currency @total_revenue %></span> Ingresos </h3>
          </td>
        </tr>
        <tr>
          <td><h3><span class="label label-success"><%= @total_orders %></span> Ventas </h3></td>
        </tr>
        <tr>
          <td><h3><span class="label label-success"><%= @total_subscriptions %></span> Suscripciones </h3></td>
        </tr>
        <tr>
          <td><h3><span class="label label-success"><%= @total_users %></span> Usuarios </h3></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>