<footer>
   <div class="container">
    <div class="row">
      <div class="col-md-12">
        <p class="rights">Todos los derechos reservados <%= link_to 'thecoffeekit.com', root_path %> | <%= link_to 'hola@thecoffeekit.com', 'mailto:hola@thecoffeekit.com' %> | <%= link_to 'Términos y Condiciones', terms_path %> | <%= link_to 'Blog', 'http://blog.thecoffeekit.com' %></p>
      </div>

    </div>
  
  </div>

</footer>
 