<nav class="navbar navbar-default navbar-statis-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
    
      <div class="navbar-brand"><%= link_to image_tag(asset_path('logo-navbar.png')), root_path %></div>
    </div>

    
  </div>
</nav>