<%= render 'header' %>
<br>
<div id="subscription">
  <div class="wrapper">
    <div class="container">
       <div class="row">
      <div class="col-md-6 col-md-offset-3">
      <form id="msform">

        <fieldset style="min-height: 300px;">
          <h4>Confirmación de compra</h4>
          <p>Estimado cliente,</p>

<p>Muchas gracias por preferir The Coffee Kit, tu pago ha sido recibido.</p>

<p>En breve te enviaremos un correo electrónico con los detalles de esta transacción. Por favor contáctanos a través de hola@thecoffeekit.com si existe cualquier problema con la orden o datos de despacho.</p>

<p>Que tengas un buen día con rico aroma a café.</p>

<p><strong>El equipo de The Coffee Kit.</strong></p>
      </fieldset>
                  </form>

    
   </div>
</div>
</div>

<%= render 'footer' %>

<script>


</script>  