<div class="row">
  <div class="col-md-12">
    <div class="page-header">
      <h2>Términos y condiciones</h2>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <h3>¿Qué es the coffee kit?</h3>

    <p>The Coffee Kit es un sitio web enfocado en educar al público respecto al café de especialidad, entregando información sobre su selección, preparación y consumo.</p>  
    <p>Puede comercializar productos y servicios directamente, o publicitar bienes y servicios proveídos por terceras personas naturales o jurídicas.</p>
    <p>Para acceder a las ofertas publicitadas por The Coffee Kit, es requisito esencial aceptar y comprender los siguientes términos y condiciones de servicio:</p>

    <h3>Glosario</h3>

    <p>En adelante se utilizan los siguientes términos:</p> 

    <ul>
      <li>The Coffee Kit: The Coffee Kit es nombre de fantasía de la empresa chilena Loaxsa Limitada, actuando como prestadora de servicios de venta de artículos de preparación de café y de publicidad a terceros proveedores para que publiciten sus productos y servicios en el sitio. Loaxsa Limitada administra el sitio www.thecoffeekit.com.</li>
      <li>Sitio o El Sitio: Es la página web www.thecoffeekit.com.</li>
      <li>Usuario: Es cualquier persona natural que ingrese al sitio, ya sea para revisar el contenido, o para adquirir ofertas comercializadas directamente por Loaxsa Limitada o aquellas publicitadas por y proveídas por terceros.</li>
      <li>Proveedor: Es el tercero que a través de The Coffee Kit publicita diversos productos y servicios.</li>
    </ul>

    <h3>Registro del usuario</h3>

    <p>El registro del Usuario en este sitio constituye una condición indispensable para acceder a los productos y servicios publicitados. Como parte del registro, el Usuario debe ingresar datos personales como nombre, correo electrónico y dirección de despacho.</p> 
    <p>Dicho registro supone el conocimiento y aceptación de todas y cada una de las cláusulas contenidas en estos términos y condiciones. Toda información incluida en el registro será considerada veraz y es responsabilidad del Usuario mantenerla actualizada a futuro.</p>
    <p>The Coffee Kit no asume responsabilidad por daños o perjuicios derivados de la inexactitud de dicha información, tanto en casos que afecten al Usuario, como a The Coffee Kit o a terceros.</p>
    <p>El Usuario registrado en el Sitio podrá disponer la rectificación, eliminación y/o cancelación de sus datos cuando lo estime conveniente, en conformidad con la ley 19.628.</p>

    <h3>Privacidad de la información</h3>

    <p>La información personal solicitada tiene como finalidad validar las adquisiciones realizadas dentro del sitio, así como optimizar la información presentada en el sitio. Esta información no será en ningún caso entregada a terceros, salvo empresas relacionadas con The Coffee Kit o prestadoras de servicios de The Coffee Kit.</p>
    <p>En caso de entregar dicha información a empresas proveedoras de bienes y servicios, dicha información será entregada solo con este fin.</p>
    <p>The Coffee Kit podrá utilizar la información registrada en el Sitio para el envío de información o promociones de servicios y productos tanto de The Coffee Kit como de terceros.</p>
    <p>El Usuario podrá solicitar en cualquier momento el cese de envío de dichos correos electrónicos de acuerdo a los procedimientos establecidos en el Sitio de conformidad con la Ley.</p>

    <h3>Acceso al sitio</h3>

    <p>Para acceder al Sitio el Usuario debe ingresar una contraseña secreta, y solo conocida por éste, que permite un acceso individual, personalizado, confidencial y seguro. Dicha contraseña podrá ser modificada a voluntad del Usuario de acuerdo a los procedimientos definidos en el Sitio.</p>
    <p>Es responsabilidad del Usuario asegurar la correcta administración y cuidado de dicha contraseña. El conocimiento, uso o mal uso de dicha contraseña por terceros no implicará responsabilidad alguna para The Coffee Kit.</p>
    <p>En ningún caso The Coffee Kit tendrá acceso a la contraseña del Usuario.</p>

    <h3>Menores de edad</h3>

    <p>La información entregada a The Coffee Kit así como el acceso a los bienes y servicios publicitados por terceros proveedores debe ser realizado por personas con capacidad legal de contratación.</p>

    <h3>Fallos del sitio</h3>

    <p>The Coffee Kit no garantiza el uso continuo e ininterrumpido del Sitio.</p>
    <p>The Coffee Kit no se responsabiliza por daños o pérdidas de ningún tipo derivadas del uso del sitio o de la imposibilidad de su uso.</p>

    <h3>Propiedad intelectual</h3>

    <p>La información, contenido, diseño y cualquier otro elemento del Sitio se encuentran protegidos por legislación de propiedad intelectual. Su copia, redistribución, uso o publicación, total o parcial, está prohibida por ley. The Coffee Kit se reserva el derecho de difundir dicha información por los canales que estime conveniente, sin que esto constituya una renuncia al derecho de propiedad de dicha información.</p>

    <h3>Registo de la actividad del usuario mediante mecanismos automáticos</h3>

    <p>The Coffee Kit podrá registrar toda la actividad del Usuario de modo de analizar y optimizar el uso del sitio. Dicho registro podrá contener tanto información personal como del acceso a la información (incluidos dirección IP, cookies y cualquier otra tecnología para dicho registro.).</p>
    <p>The Coffee Kit se reserva el derecho de hacer uso comercial de ésta información. En ningún caso esta información será vendida, arrendada o entregada a terceros.</p>

    <h3>Modicicaciones de la información en el sitio</h3>

    <p>The Coffee Kit podrá modificar cualquier información, incluidos los presentes Términos y Condiciones de Servicio, contenida en el Sitio en cualquier momento y sin previo aviso.</p>
    <p>La continuidad en el uso del Sitio implica la aceptación de los Términos y Condiciones de Servicio vigentes al momento del uso.</p>

    <h3>Calidad del servicio e información</h3>

    <p>The Coffee Kit se compromete a entregar la mayor calidad de servicio posible. Sin embargo, dado que la información periodística publicada y la de bienes y productos publicitados pueden provenir de terceros, la veracidad y calidad de dicha información no será responsabilidad de The Coffee Kit</p>

    <h3>Uso y actualización</h3>

    <p>Tanto el sitio, como estos términos y condiciones y las políticas de privacidad podrán ser actualizados sin previo aviso, por lo que el usuario deberá revisar el contenido periódicamente y en caso de no estar de acuerdo con alguno de los cambios solicitar la eliminación del registro a hola@thecoffeekit.com</p>

    <h3>Información contenida en otros sitios Web y vínculos a otros sitios Web</h3>

    <p>The Coffee Kit no se responsabiliza respecto a la información contenida en otros sitios web relativos al Sitio o a The Coffee Kit.</p>
    <p>El Sitio podrá contener vínculos a otros sitios web que no son controlados ni tienen relación con The Coffee Kit. The Coffee Kit no se responsabiliza de la veracidad de la información contenida en otros sitios web que hayan sido vinculados desde el Sitio.</p>
    <p>The Coffee Kit no se hace responsable de daños o perjuicios producidos por el uso de dichos sitios web incluido, pero no limitado, al acceso a información o descarga de archivos contenidos en dichos sitios web.</p>
    <p>Los vínculos presentes en el Sitio no implican bajo ninguna circunstancia una vinculación con los sitios web vinculados.</p>

    <h3>Despachos</h3>

    <p>The Coffee Kit se reserva el derecho a elegir el método de despacho de los productos adquiridos a través del Sitio, dentro de las opciones y plazos estipulados en cada oferta, si los hubiere. The Coffee Kit no se hace responsable por demoras, hurtos o daños en el despacho realizado por un Proveedor.</p>

    <h3>Responsabilidad</h3>

    <p>En su calidad de publicitante, The Coffee Kit no responde por daños o perjuicios causados directa o indirectamente por los productos o servicios publicitados por terceros en el sitio.</p>
    <p>Ante cualquier inconveniente que se pudiese causar con los productos o servicios publicitados por terceros en el sitio, él o los usuarios deberán dirigirse contra el Proveedor de dicho bien o servicio, o contra quienes tengan algún grado de responsabilidad de acuerdo a la legislación vigente.</p>

    <h3>Jurisdicción y ley aplicable</h3>

    <p>Estos Términos y Condiciones se rigen por las leyes de la República de Chile, siendo sus tribunales ordinarios los llamados a dirimir cualquier controversia, interpretación, alcance o cumplimiento de los presente Términos y Condiciones de Servicio.</p>

    <h3>Información de contacto</h3>

    <p>El Usuario podrá contactar a The Coffee Kit a través de la dirección de correo electrónico hola@thecoffeekit.com
      The Coffee Kit se reserva el derecho de responder a dicho contacto según estime pertinente.</p>

  </div>
</div>