<div class="page-header">
  <h2><span class="glyphicon glyphicon-shopping-cart"></span> Venta <%= @order.uuid %></h2>
</div>

<div class="row">
  <div class="col-md-6">
    <dl>
      <dt>Fecha y hora de venta</dt>
      <dd><%= @order.completed_at.strftime('%d/%m/%Y a las %H:%M') %></dd>
      <dt>Medio de pago</dt>
      <dd><%= payment_name_for @order.payment %></dd>
    </dl>
    
  </div>
  <div class="col-md-6">
    <%= render 'shared/order_items', order: @order %>
  </div>
</div>