footer{
  margin-top: 40px;
  padding: 20px 0;
  background: #38322D;
  color: #837C76;
  width: 100%;
  a{
    color: #BE9658;
  }

  .rights{
    margin-top: 30px;
  }

  .social{
    a{
      margin-right: 10px;
    }
  }
}