.navbar{
  border-radius: 0;

  ul.navbar-nav{
    margin-top: 40px;
    font-family: 'Arvo', serif;
    li{
      
      a{
        font-size: 16px;
        color: #BE9658;

        &:hover{
          color: #BE9658;
        }
      }
    }
  
  }

  ul.navbar-nav.actions{
    margin-top: 10px;
    padding-left: 10px;
  }
}

@media (min-width: 768px) { 
  .navbar{

    ul.navbar-nav{
      margin-top: 0;
    }
  }
}
