input.btn-khipu{
  background: image-url('btn-khipu.png');
  border:none;
  width: 163px;
  height: 127px;

}

input.btn-paypal{
  background: image-url('btn-paypal.gif');
  border:none;
  width: 145px;
  height: 42px;
}