#store{

  h4{
    font-family: 'Arvo', serif;
    font-weight: bold;
  }


  a.btn, button.btn, input.btn {

    border:3px solid #ECBA6C;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    color: #000;
    background: none;
  }



}
